*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    background: #dae6ff;
}

nav{
    background: #131254;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px 20px;
    filter: drop-shadow(0 10px 30px #221ce6);
}

nav .nav-logo{
    width: auto;
    height: 165px;
    margin-top: -50px;
    margin-bottom: -50px;
}

nav .links{
    display: flex;
    justify-content: space-around;
}

nav .links li{
    position: relative; /* Añade posición relativa para que el borde se posicione correctamente */
    border-bottom: 2px solid transparent;
    transition: width 0.55s; /* Cambia la transición para afectar solo el ancho */
    margin-right: 50px;
    list-style: none;
}

nav .links li::after {
    content: ""; /* Añade un pseudo-elemento para crear el borde */
    position: absolute; /* Posición absoluta para controlar el borde */
    bottom: 0; /* Alinea el borde en la parte inferior */
    left: 0; /* Alinea el borde a la izquierda */
    width: 0; /* Inicialmente, el ancho es cero */
    border-bottom: 2px solid #ebf1ff; /* Color del borde */
    transition: width 0.55s; /* Transición para el ancho */
}

nav .links li:hover::after {
    width: 100%; /* Cuando se pasa el cursor, el borde se expande completamente */
}

nav .links a{
    text-decoration: none;
    color: #ebf1ff;
}

.presentation{
    display: flex;
}

.title{
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 13rem 0rem 50px 20rem;
    padding: 20px 25px 20px 20px;
}

.title .greet .hi{
    font-size: 70px;
    margin-bottom: -25px;
}

.title .greet .name{
    font-size: 70px;
    margin-bottom: 10px;
}

.presentation .title .greet h2{
    font-size: 40px;
    margin-top: -25px;
    color: transparent; /* Hacemos el color del texto transparente */
    -webkit-text-stroke: 2px #1e1bc0; /* Ancho y color del borde en navegadores webkit (Chrome, Safari) */
}

.title .greet .name span{
    color: #1e1f91;
    font-weight: 800;
    font-size: 80px;
}

.image{
    border: 2px solid transparent;
    margin: 12rem 23rem 0 0;
}

.image img{
    margin-left: 8rem;
    width: auto;
    height: 375px;
    border-radius: 50%;
}

.big-block{
    background: #1e1f91;
    /* Asegúrate de que el display sea flex y la dirección sea columna */
    display: flex;
    flex-direction: column; /* Esto coloca los divs uno encima del otro */
    margin: 10rem 13rem;
    padding: 20px;
    border-radius: 10px;
    filter: drop-shadow(0 15px 15px #1e1f91);
}

.big-block > div {
    /* Ajustamos para que cada div tome el 100% del ancho del contenedor */
    width: 100%; /* Esto asegura que cada bloque ocupe el ancho completo */
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid transparent;
    margin: 5px 0; /* Ajusta el margen para separarlos verticalmente */
}

.hobbies .big-block .block h2{
    color: #bccfff;
    font-size: 30px;
}

.hobbies .big-block .block p{
    color: #ebf1ff;
}

.skills{
    margin: -50px 220px 40px 220px;
    border: 2px solid transparent;
}

.skills h2{
    font-size: 30px;
}

.skills ul{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.skills ul li{
    list-style: none;
    background: #bccfff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease .55s;
}

.skills ul li:hover{
    transform: translateY(-10px);
    transform: scale(1.1);
}

.skills ul li i{
    font-size: 20px;
    margin-left: 10px;
}

/*Nav de abajo*/

.navigation{
    position: relative;
    width: auto;
    height: 70px;
    background: #4854ff;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0; 
    width: 100%;
}

.navigation ul{
    display: flex;
}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;

}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    color: #dae6ff;
    text-align: center;
    transition: .5s;

}

.navigation ul li.active a .icon{
    transform: translateY(-5px);
    color: #4854ff;
}

.navigation ul li.active{
    background: #dae6ff;
    border-radius: 50%;
}

.navigation ul li a .text{
    position: absolute;
    color: #dae6ff;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .05em;
    transition: .5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(15px);
    color: #4854ff;
}


@media (max-width: 1630px) {
    .title .greet .hi{
        font-size: 55px;
        margin-top: 20px;
    }
    
    .title .greet .name{
        font-size: 55px;
        margin-bottom: 10px;
    }

    .title .greet .name span{
        font-size: 55px;
        margin-bottom: 10px;
    }
}

@media (max-width: 1570px) {
    .title .greet .hi{
        font-size: 40px;
        margin-top: 75px;
        margin-bottom: -9px;
    }
    
    .title .greet .name{
        font-size: 40px;
        margin-bottom: 10px;
    }

    .title .greet .name span{
        font-size: 40px;
        margin-bottom: 10px;
    }

    .presentation .title .greet h2{
        font-size: 30px;
        margin-top: -10px;
    }
}

@media (max-width: 1482px) {
    .image img{
        width: auto;
        height: 290px;
        margin-top: 70px;
        margin-left: auto;
    }

    .presentation{
        margin: -175px -420px 0 -420px;
        justify-content: center;
    }
}

@media (max-width: 1300px) {
    .big-block{
        margin: 10rem 7rem 10rem 7rem;
    }
}

@media (max-width: 1100px) {
    .skills ul li i{
        display: none;
    }

    .skills{
        margin: auto 7rem auto 7rem;
    }

    .title .greet{
        margin-left: 60px;
        margin-top: 20px;
    }

    .title .greet .hi{
        font-size: 30px;
        margin-top: 75px;
        margin-bottom: -9px;
    }
    
    .title .greet .name{
        font-size: 30px;
        margin-bottom: 10px;
    }

    .title .greet .name span{
        font-size: 30px;
        margin-bottom: 10px;
    }

    .presentation .title .greet h2{
        font-size: 30px;
        margin-top: -10px;
        -webkit-text-stroke: 2px transparent transparent;
        color: blue;
    }
}

@media (max-width: 1045px) {
    .presentation .image{
        display: none;
    }

    .presentation .title{
        margin: 10rem auto -5rem 33rem;
    }
}

@media (max-width: 954px) {
    .presentation .title{
        margin: 10rem auto -5rem 30rem;
    }
}

@media (max-width: 954px) {
    .presentation .title{
        justify-content: center;
        margin-left: auto;
    }
}

@media (max-width: 740px) {
    .hobbies .big-block .block h2{
        font-size: 20px;
    }
    
    .hobbies .big-block .block p{
        font-size: 15px;
    }

    .presentation .title .greet h2{
        font-size: 20px;
        font-weight: 100;
    }

    .big-block{
        margin: 10rem 2rem;
    }

    .skills{
        margin: auto 2rem auto 2rem;
    }
}

@media (max-width: 710px) {
    nav .links{
        display: none;
    }

    .navigation{
        display: flex;
    }

    .skills{
        margin-bottom: 8rem;
    }
}

@media (max-width: 686px) {
    .presentation .title .greet p{
        display: none;
    }   
}

@media (max-width: 573px) {
    .skills ul li{
        font-size: 12px;
    } 
}

@media (max-width: 400px) {
    .presentation .title .greet{
        margin-left: -10px;
    }

    .skills{
        margin-top: -7rem;
    }

    .skills h2{
        font-size: 20px;
    }

    .skills ul{
        display: block;
        margin: auto 5rem;
    }

    .skills ul li i{
        display: inline-flex;
    }

    .skills ul li{
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 10px;
    }

    .skills ul li:first-child{
        margin-top: 10px;
    }

    .skills ul li:last-child{
        margin-bottom: 20px;
    }
}
