*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    background: #dae6ff;
}

/*Navigation*/

nav{
    background: #131254;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px 20px;
    filter: drop-shadow(0 10px 30px #221ce6);
}

nav .nav-logo{
    width: auto;
    height: 165px;
    margin-top: -50px;
    margin-bottom: -50px;
}

nav .links{
    display: flex;
    justify-content: space-around;
}

nav .links li{
    position: relative; /* Añade posición relativa para que el borde se posicione correctamente */
    border-bottom: 2px solid transparent;
    transition: width 0.55s; /* Cambia la transición para afectar solo el ancho */
    margin-right: 50px;
    list-style: none;
}

nav .links li::after {
    content: ""; /* Añade un pseudo-elemento para crear el borde */
    position: absolute; /* Posición absoluta para controlar el borde */
    bottom: 0; /* Alinea el borde en la parte inferior */
    left: 0; /* Alinea el borde a la izquierda */
    width: 0; /* Inicialmente, el ancho es cero */
    border-bottom: 2px solid #ebf1ff; /* Color del borde */
    transition: width 0.55s; /* Transición para el ancho */
}

nav .links li:hover::after {
    width: 100%; /* Cuando se pasa el cursor, el borde se expande completamente */
}

nav .links a{
    text-decoration: none;
    color: #ebf1ff;
}


/*Project*/

.presentation{
    margin-top: 70px;
    display: flex;
    flex: 1;
}

.title{
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 13rem 0rem 50px 20rem;
    padding: 20px 25px 20px 20px;
}

.title .greet .hi{
    font-size: 70px;
    margin-bottom: -25px;
}

.title .greet .name{
    font-size: 70px;
    margin-bottom: 10px;
}

.title .greet .name span{
    color: #1e1f91;
    font-weight: 800;
    font-size: 80px;
}

.image{
    border: 2px solid transparent;
    margin: 12rem 23rem 0 0;
}

.image img{
    width: auto;
    height: 350px;
}

/*Nav de abajo*/

.navigation{
    position: relative;
    width: auto;
    height: 70px;
    background: #4854ff;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0; 
    width: 100%;
}

.navigation ul{
    display: flex;
}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;

}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    color: #dae6ff;
    text-align: center;
    transition: .5s;

}

.navigation ul li.active a .icon{
    transform: translateY(-5px);
    color: #4854ff;
}

.navigation ul li.active{
    background: #dae6ff;
    border-radius: 50%;
}

.navigation ul li a .text{
    position: absolute;
    color: #dae6ff;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .05em;
    transition: .5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(15px);
    color: #4854ff;
}


/*Responsive*/

@media (max-width: 1650px) {
    .image{
        margin: 12rem 10rem 0 0;
    }

    .title{
        margin: 13rem 0rem 50px 10rem;
    }
}

@media (max-width: 1380px) {
    .presentation{
        display: block;
    }

    .title{
        margin: 13rem 5rem 50px 10rem;
    }

    .image{
        margin: 3rem 10rem 0 10rem;
        text-align: center;
    }
}

@media (max-width: 875px) {
    .title{
        margin: 13rem 5rem 50px 7rem;
    }

    .title .greet .hi{
        font-size: 60px;
    }
    
    .title .greet .name{
        font-size: 60px;
    }
    
    .title .greet .name span{
        font-size: 60px;
    }
}

@media (max-width: 710px) {
    .title{
        margin: 10px 10px 50px 10px;
    }

    .title .greet .hi{
        font-size: 30px;
        margin-bottom: 1px;
    }
    
    .title .greet .name{
        font-size: 30px;
    }
    
    .title .greet .name span{
        font-size: 30px;
    }

    .image{
        margin: auto;
        text-align: center;
    }

    .image img{
        width: auto;
        height: 170px;
    }

    nav .links{
        display: none;
    }

    .navigation{
        display: flex;
    }

    .presentation .image img{
        margin-bottom: 7rem;
    }
}
